@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    background: url('../imagens/fundo-madeira.jpg'); 
    background-size: cover;
    background-position: center;
}

main{
    position: relative;
    height: 100vh;
}

section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Se essa linha não for adicionada, é o canto superior esquerdo do bloco que fica no centro da tela */
    width: 350px;
    height: 630px;
    background-image: url('../imagens/frame-android-branco.png');
    background-size: contain;
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 71px;
    left: 31px;
    width: 266.5px;
    height: 461.5px;
}

section#icones{
    text-align: right;
}

section#icones img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#icones img:hover{
    border: 2px solid rgba(255, 255, 255, 0.628);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.550);
    transition: transform .5s;
}
